/* GENERAL */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {

  background: #020617;

  color: white;

  font-family: Arial, sans-serif;
}

/* NAVBAR */

.navbar {

  display: flex;

  justify-content: space-between;

  align-items: center;

  padding: 25px 60px;

  border-bottom: 1px solid rgba(255,255,255,0.1);
}

/* LOGO */

.logo-section {

  display: flex;

  align-items: center;

  gap: 15px;
}

.logo {

  width: 70px;
}

.logo-section h2 {

  font-size: 22px;
}

.logo-section p {

  color: #a855f7;

  letter-spacing: 3px;

  font-size: 12px;

  margin-top: 5px;
}

/* NAV LINKS */

.nav-links {

  display: flex;

  gap: 40px;

  list-style: none;
}

.nav-links a {

  text-decoration: none;

  color: white;

  font-size: 20px;
}

.active {

  color: #a855f7;

  border-bottom: 3px solid #a855f7;

  padding-bottom: 10px;
}

/* SOCIAL */

.social-icons {

  display: flex;

  align-items: center;

  gap: 25px;
}

.social-icons i {

  font-size: 28px;

  cursor: pointer;
}

/* CONTACT BUTTON */

.contact-btn {

  border: 1px solid #a855f7;

  padding: 15px 25px;

  border-radius: 15px;

  color: #a855f7;

  text-decoration: none;
}

/* HERO */

.hero-section {

  display: flex;

  justify-content: space-between;

  align-items: center;

  padding: 100px 80px;
}

/* LEFT */

.hero-left {

  width: 50%;
}

.welcome {

  color: #a855f7;

  letter-spacing: 4px;

  margin-bottom: 30px;

  font-size: 18px;
}

.hero-left h1 {

  font-size: 100px;

  line-height: 1.1;
}

.gradient-text {

  background: linear-gradient(to right, #c084fc, #d946ef);

  -webkit-background-clip: text;

  -webkit-text-fill-color: transparent;
}

.hero-left h2 {

  margin-top: 20px;

  font-size: 40px;

  font-weight: normal;
}

.description {

  margin-top: 30px;

  color: #9ca3af;

  font-size: 28px;

  line-height: 1.6;
}

/* BUTTONS */

.hero-buttons {

  margin-top: 50px;

  display: flex;

  gap: 30px;
}

.primary-btn {

  background: linear-gradient(to right, #9333ea, #d946ef);

  padding: 20px 35px;

  border-radius: 15px;

  text-decoration: none;

  color: white;

  font-size: 22px;
}

.secondary-btn {

  border: 1px solid #a855f7;

  padding: 20px 35px;

  border-radius: 15px;

  text-decoration: none;

  color: white;

  font-size: 22px;
}

/* RIGHT */

.hero-right {

  position: relative;
}

.circle-glow {

  width: 500px;

  height: 500px;

  background: rgba(168,85,247,0.3);

  border-radius: 50%;

  filter: blur(100px);

  position: absolute;

  top: 50px;

  left: 50px;
}

.hero-logo {

  width: 500px;

  position: relative;
}

/* TECHNOLOGIES */

.tech-section {

  margin: 50px 60px;

  border: 1px solid rgba(255,255,255,0.1);

  border-radius: 25px;

  padding: 40px;
}

.tech-section h3 {

  text-align: center;

  color: #c084fc;

  letter-spacing: 4px;

  margin-bottom: 40px;
}

.tech-grid {

  display: grid;

  grid-template-columns: repeat(8, 1fr);

  gap: 30px;

  text-align: center;
}

.tech-item i {

  font-size: 60px;

  margin-bottom: 15px;
}

.tech-item p {

  font-size: 20px;
}
